$primary-color: #fe538d;
$secondary-color: #ffb703;
$text-color: #000;
$dark-background-color:#222725;
$text-white:#fff;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
        font-family: "Rubik", sans-serif;     
}
h1{
    font-size: 4.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}
ul{
    margin-left: 0;
    padding-left: 0;
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $primary-color;
    }
}
.bg-light{
    background-color:lightgray ;
}
header{
    nav{
        .nav-link{
            text-transform: uppercase;
            font-size: 1em;
            color: $text-color;
            font-weight: 500;
            margin-left: 20px;
            &:hover{
                color: $primary-color;
            }
        }

        .logo{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500; 
            span{
                color: $primary-color;
            }
        }

    }
}
footer{
    background-color: $dark-background-color;
    
    h3{
        font-size: 1.5em;
        color: $secondary-color;
    }
    ul{
        li{
            padding: 5px,0;
        }
    }
    a{
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none;
    }
}
.small{
    padding: 10px 15px;
}
.large{
    padding: 15px 20px;
}
.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-size: 1em;
    font-weight: 500;
    
    text-transform: uppercase;
    &:hover{
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}
.btn-secondry{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}
.section-1{
    .hero{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)),url('../images/hero.jpg');
        min-height: 800px;
        span{
            color: $secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-2{
    img{
        border-radius: 40px;
    }
    span{
        color: $primary-color;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px;
    }
}
.section-3{
    h3{
        color: $primary-color;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
    }
    .item{
        position: relative;
        overflow: hidden;
        color: $text-white;
        margin-bottom: 30px;
        &:hover{
            .service-body{
                transform: translateY(0%);
                .service-content{
                    opacity: 1;
                }
            }
        }
        .service-image{
            position: relative;
            overflow: hidden; 
            img{
                width: 100%;
                border-radius: 40px;
                aspect-ratio:1 / 1.2;
                object-fit: cover;
            }
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg ,rgba(217,217,217,0) 0%,rgba(217,217,217,0) 13%, rgba(0,0,0,0.51) 42.5%,rgba(0,0,0,0.63) 70%,#000000 100%);
            }
        }
        .service-body{
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4 ease-in-out;
            .service-content{
                opacity: 0;
                transition: all 0.4 ease-in-out;
            }
        }
    }
}
.section-header{
    span{
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 500;
        display: block;
        padding-bottom: 10px;
    }
}
.section-4{
    .card{
        border-radius: 40px;
        margin-bottom: 40px;
    }
}
.section-5{
    .swiper{
        padding: 25px 25px 50px 25px;
        .swiper-pagination-bullet-active{
            background-color: $secondary-color;
        }
    }
    .card{
        border-radius: 40px;
        .card-body {
            .rating {
                color:$secondary-color;
            }
            .content{
                p{
                    font-size: 1em;
                } 
            }
            img{
                border-radius: 50%;  
            }
            .name{
                font-size: 1.2em;
                font-weight: 500;
            }
        }
    }
}
.section-6{
    .card{
        border-radius:40px ;
        img{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .card-body{
          a.title{
            font-size: 1em;
          }  
        }
    }
}
.section-7{
    .hero{
        background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)),url('../images/hero.jpg');
        min-height: 500px;
        span{
            color: $secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-8{
    .card{
        border-radius:40px ;
        img{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .card-body{
          a.title{
            font-size: 1em;
          }  
          .card-title{
            font-size: 1.5em;
            font-weight: 500;
          }
          .card-sub-title{
            font-size: 1.3em;
            color:lightgray
          }
        }
    } 
}
.section-9{
    .card{
        border-radius:40px ;  
    }
}
.login-form{
    .card{
        width: 500px;
    }
}
.dashboard{
    .card{
       min-height: 400px; 
    }
}
.sidebar{
    ul{
        li{
            a{
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid rgba(0,0,0,0.20);
            }
        }
    }
}
.section-10{
    .sidebar{
        border-radius:40px ;  
    }
}
.section-11{
    .sidebar{
        border-radius:40px ; 
        .title{
            font-size: 1.2em;
        } 
    }
}